.contact-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 48px 16px;
  overflow: hidden;
}

.contact-page::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 400px;

  width: 520px;
  height: 520px;

  background: rgb(25, 82, 92);
  border-radius: 50%;

  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
  animation: breathe 26s ease-in-out infinite;
}

.contact-page::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 380px;

  width: 420px;
  height: 420px;

  background: rgb(69, 6, 241);
  border-radius: 50%;

  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
   animation: breathe 26s ease-in-out infinite;

}

.contact-page .glass-card {
  position: relative;
  z-index: 1;
}

@media (max-width: 576px) {
  .contact-page::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -200px;

  width: 520px;
  height: 520px;

  background: rgb(25, 82, 92);
  border-radius: 50%;

  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
  animation: breathe 26s ease-in-out infinite;
}

.contact-page::after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: -200px;

  width: 420px;
  height: 420px;

  background: rgb(69, 6, 241);
  border-radius: 50%;

  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
   animation: breathe 26s ease-in-out infinite;

}
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}


